$primary: #3464D5;
$secondary: #6c757d;
$success: #00A733;
$warning: #FD9644;
$danger: #DA3659;
$info: #BCE0FA;

$body-bg: #f9f9f9;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
  "study-tekenradar": #1C8E00,
  "study-tb-only": #00318F,
  "study-weekly-tb": #62008F,
  "study-k-em-contact": #8F001A,
  "study-em-adult-contact": #796D01,
  "study-fever-adult-contact": #8F3C00,
  "study-tb-adult-contact": #366c00,
  "study-tb-kids-contact": #00008f,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

.scale-effect-on-hover {
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.scale-effect-on-hover:hover {
  transform: scale(1.035);
}

.fs-small {
  font-size: small !important;
}

// for date picker
@import './date_input.scss';
@include datepicker_classes($theme-colors);

@import "~bootstrap/scss/bootstrap";
