.deactive {
  position: relative;
  left: -60px;
  transition: 850ms;
}

.active {
  position: relative;
  left: 0;
  transition: 850ms;
}
/* .nav-menu-items{
    width: 100%;
} */

/* .nav-text{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
} */
.nav-text {
  list-style: none;
}

/* .nav-text a{
    text-decoration: none;
    width: 95%;
    align-items: center;
    padding: 0px 16px;
} */
.nav-text a:hover {
  background-color: gray;
}
